    <div class="col-md-4 col-sm-12 col-xs-12">
    {{#if char.profile_image.name}}
            {{#link-to 'file' char.profile_image.folder char.profile_image.name}}
                <img src="/game/uploads/{{char.profile_image.path}}" class="profile-image"/>
            {{/link-to}}
            <br/>
            <p class="profile-actor">Played By {{char.all_fields.actor}}</p>
            <br/>
                        
    {{else}}
        <img src="/game/uploads/theme_images/noicon.png" class="profile-image" />
    {{/if}}
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12">        

        <div class="profile-box">
        <div class="profile-title">
            Character Brief
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Name:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.fullname}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Nationality:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.nationality}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Age:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.age}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Position:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.position}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Rank:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.rank}}
            </div>
        </div>
        
        <div class="profile-title">
            Physical Stats
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Height:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.height}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Physique:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.physique}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Hair Color:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.hair}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Eye Color:</b> 
            </div>
            <div class="col-sm-9">
                    {{char.all_fields.eyes}}
            </div>
        </div>

        {{#if char.handle}}
        
        <div class="row">
            <div class="col-sm-3">
                    <b>Player:</b> 
            </div>
            <div class="col-sm-9">
                    <a href="http://arescentral.aresmush.com/handle/{{char.handle}}">{{char.handle}}</a>
            </div>
        </div>
        
        {{/if}}
        
        
        <div class="row">
            <div class="col-sm-12">
                   <img  src="/game/uploads/flags/{{char.all_fields.flag}}.png" class="nation-flag"/>
                   
            </div>
           
        </div>
        
        </div>
        
    </div>
